.editor {
    border-radius: 2em;
    background-color: rgb(182, 200, 250);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}