.diary {
    &-notes {
        border-radius: 2em;
        background-color: rgb(182, 200, 250);
        padding: 100px;

        &__data {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 20px;
        }
    }
}